body {
	font-family: "MyriadPro-Regular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background: #f9f9f9;
}

.hidden {
	display: none;
}

button{
	cursor: pointer;
}

/* CLEARFIX =====================
==============================================*/

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* HEADER =========================
==============================================*/

header{
	background-image: url(../img/bg_header.jpg);
	background-repeat: repeat-x;
	background-position: center 0;
	height: 960px;
	-webkit-background-size: cover;
	background-size: cover;
}

.header-top {
	height: 175px;
	-webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.header-foot {
	position: relative;
	height: 100%;
	max-height: 785px;
	background: rgba(0, 0, 0, 0.34);
	padding-top: 63px;
}

.logo {
	color: #383838;
}

.logo a {
	text-decoration: none;
	color: #262626;
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
	display: block;
	margin-top: 20px;
}

.menu {
	width: 54% !important;
	text-align: right;
	padding-top: 20px !important;
}

.menu .phone {
	font: 40px/normal "ElektraLightPro-Bold", sans-serif;
	color: #585858;
	margin-top: 29px;
}

.logo img {
	float: left;
	margin-right: 15px;
}

.logo h1 {
	font: 52px/normal "ElektraLightPro-Bold", sans-serif;
	margin-top: 10px;
	margin-bottom: 2px;
	padding-top: 12px;
}

.logo h2 {
	font: 34px/normal "ElektraLightPro-BoldItalic", sans-serif;
}

.phone {
	text-align: right;
	padding-top: 39px;
}

.phone p {
	font: 40px/normal "ElektraLightPro-Bold";
	color: #262626;
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
	margin-bottom: 10px;
}

.button-style {
	max-width: 358px;
	width: 100%;
	font: 16px/30px "MyriadPro-Regular";
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #262626;
	background: #dae42b;
	text-align: center;
	display: inline-block;
	border: 1px solid #464646;
	border-radius: 8px;
}

.over-text {
	background: rgba(0, 0, 0, 0.43);
	border-radius: 15px;
	color: #fff;
	padding: 20px 0 35px;
}

.bg-foot {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.bg-foot__cont {
	position: relative;
	max-width: 1540px;
	width: 100%;
	margin: 0 auto;
}

.bg-foot__cont img {
	position: absolute;
	left: 0;
	bottom: 0;
}

.over-text h2 {
	font: 44px/normal "ElektraLightPro-Bold";
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.over-text ul {
	max-width: 795px;
	width: 100%;
}

.over-text li {
	font: 22px/normal "MyriadPro-Regular";
	color: #fff;
	padding: 14px 0;
	text-align: center;
	list-style: none;
}

.wrapp-right {
	max-width: 810px;
	width: 100%;
	float: right;
	padding-right: 20px;
}

.w_input {
	float: left;
	width: 39%;
	padding: 0 5px;
}

.w_input input {
	max-width: 390px;
	width: 100%;
	background: #fff;
	border-radius: 8px;
	border: 0;
	padding: 13px 10px;
}

.over-form p {
	font: 25.5px/normal "MyriadPro-Regular";
	font-style: italic;
	text-align: center;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	margin-bottom: 14px;
}

.w_input input::-webkit-input-placeholder {font: 16px/normal "MyriadPro-Regular";font-weight: 600; color: #212121; text-transform: uppercase;}
.w_input input::-moz-placeholder          {font: 16px/normal "MyriadPro-Regular";font-weight: 600; color: #212121; text-transform: uppercase;}/* Firefox 19+ */
.w_input input:-moz-placeholder           {font: 16px/normal "MyriadPro-Regular";font-weight: 600; color: #212121; text-transform: uppercase;}/* Firefox 18- */
.w_input input:-ms-input-placeholder      {font: 16px/normal "MyriadPro-Regular";font-weight: 600; color: #212121; text-transform: uppercase;}

.w_button {
	width: 22%;
	float: left;
	padding: 0 5px;
}

.form_button {
	font: 18px/41px "MyriadPro-Regular";
	font-weight: bold;
	border: 0;
	border-radius: 10px;
	background: #dae42b;
	color: #464646;
	max-width: 270px;
	width: 100%;
	text-align: center;
	margin: 0 auto 0;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.over-form {
	margin-top: 60px;
}

.what-container {
	max-width: 1085px;
	width: 100%;
	margin: 0 auto;
}

.help-wrapper {
	width: 33.3%;
	float: left;
	padding: 0 15px;	
}

.help-item {
	font: 16px/normal "MyriadPro-Regular";
	color: #363636;
	position: relative;
	border-radius: 15px 15px 0 0;
	background: #fff;
	min-height: 705px;
	padding: 21px 22px 10px 22px;
	-webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
}

.help-item img {
	margin: 0 auto;
	display: block;
}

.help-item p {
	margin-bottom: 20px;
}

.help-item h3 {
	font: 18px/22px "ElektraLightPro-Bold";
	text-align: center;
	text-transform: uppercase;
	margin: 41px 0 45px;
}

.help-item .popup {
	position: absolute;
	bottom: -20px;
	font: 18px/41px "MyriadPro-Regular";
	font-weight: bold;
	border-radius: 10px;
	background: #c2cf2f;
	color: #464646;
	max-width: 170px;
	left: 50%;
	margin-left: -85px;
	width: 100%;
	text-align: center;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #464646;
	-mox-box-shadow: 0px 7px 15px 1px rgba(36, 36, 36, 0.51);
	-webkit-box-shadow: 0px 7px 15px 1px rgba(36, 36, 36, 0.51);
	-o-box-shadow: 0px 7px 15px 1px rgba(36, 36, 36, 0.51);
	box-shadow: 0px 7px 15px 1px rgba(36, 36, 36, 0.51);
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.help-item .popup:hover {
	background: #dae42b;
}

.what-help-h3 {
	font: 36px/normal "ElektraLightPro-Bold";
	color: #363636;
	text-transform: uppercase;
	text-align: center;
	margin: 44px 0 40px;
}

.my-product-container {
	max-width: 1165px;
	margin: 26px auto 0;
}

.my-product-item {
	width: 25%;
	float: left;
	position: relative;
}

.my-product-item .sum {
	background: #494949;
	position: relative;
	padding: 40px 0 20px;
	z-index: 10;
}

.prodslash {
	position: absolute;
	width: 100%;
	height: 4px;
	background: #f9f9f9;
	top: 12px;
	border-top: 1px solid #969696;
	border-bottom: 1px solid #cdcdcd;
	z-index: 11;
}

.my-product-item .sum:before{
	content: "";
	position: absolute;
	bottom: -38px;
	width: 0;
	height: 0;
	border-left: 145px solid transparent;
	border-right: 145px solid transparent;
	border-top: 38px solid #494949;
	left: 1px;
}

p.sum-center {
	font: 36px/32px "ElektraLightPro-Bold";
	color: #c2cf2f;
	max-width: 187px;
	border-top: 2px solid #f4f1da;
	border-bottom: 2px solid #f4f1da;
	padding: 6px 0;
	margin: 0 auto;
	text-align: center;
	text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.77);
}

span.price {
	font: 36px/32px "ElektraLightPro-Bold";
	color: #fff;
	display: block;
	text-align: center;
	margin: 41px 0 36px;
	text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.77);
}

.product-img {
	text-align: center;
	padding: 70px 0 20px;
	background: #fff;
	position: relative;
	max-height: 191px;
	z-index: 9;
	border-left: 1px solid #e5ca88;
	border-right: 1px solid #e5ca88;
}

.my-product-item:first-child .product-img {
	border-left: 0;
}

.my-product-item:last-child .product-img {
	border-right: 0;
}

.product-img:before {
	content: "";
	position: absolute;
	bottom: -38px;
	width: 0;
	height: 0;
	border-left: 145px solid transparent;
	border-right: 145px solid transparent;
	border-top: 38px solid #fff;
	left: 1px;
}

.cancelar {
	position: relative;
	background: #494949;
	padding: 35px 0 5px;
}

.cancelar:before {
	content: "";
	position: absolute;
	bottom: -38px;
	width: 0;
	height: 0;
	border-left: 145px solid transparent;
	border-right: 145px solid transparent;
	border-top: 38px solid #494949;
	left: 1px;
}

.cancelar-item {
	width: 50%;
	float: left;
	text-align: center;
	height: 78px;
	margin-bottom: 16px;
}

.cancelar-item span {
	font: 14px/normal "MyriadPro-BoldCond";
	color: #fff;
	display: block;
	text-transform: uppercase;
	margin: 6px 0 0;
}

.cancelar-item:nth-child(3),
.cancelar-item:nth-child(4) {
	margin-bottom: 0;
}

.item-green .sum {
	background: #c2cf2f;
}
.item-green .sum:before {
	border-top: 38px solid #c2cf2f;
}

.item-green p.sum-center {
	color: #494949;
	text-shadow: 0 0 0 transparent;
}

.item-green span.price {
	color: #252525;
	text-shadow: 0 0 0 transparent;
}

.item-green .cancelar {
	background: #c2cf2f;
}
.item-green .cancelar:before {
	border-top: 38px solid #c2cf2f;
}

.item-green .cancelar-item span {
	color: #1e1e1e;
}

.my-product > h3 {
	font: 36px/normal "ElektraLightPro-Bold";
	color: #363636;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 12px;
}

.my-product > span {
	font: 18px/normal "MyriadPro-Regular";
	color: #363636;
	text-align: center;
	text-transform: uppercase;
	display: block;
}

.my-product {
	margin: 94px 0 70px;
}

/**/

.message {
	background-image: url(../img/bg-ipd.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;
}

.container_message {
	max-width: 1100px;
	margin: 0 auto;
}

.container_message h3 {
    font: 36px/normal "ElektraLightPro-Bold";
    color: #363636;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
}

.wrapp-form h3 {
	font: 40px/normal "ElektraLightPro-Bold";
	color: #363636;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.container_message span {
	font: 15px/normal "MyriadPro-Regular";
	color: #333;
	display: block;
	text-align: center;
}

.container_message p {
	font: 24px/normal "MyriadPro-Regular";
	text-align: center;
	color: #212121;
	margin-bottom: 32px;
}

.container_message p a {
	font-family: "MyriadPro-BlackSemiCn";
	color: #212121;
}

.w_input {
	float: left;
	width: 35%;
	padding: 0 5px;
}

.w_input label {
	display: block;
	margin-left: 5px;
}

.w_input input {
	font: 16px/normal "MyriadPro-Regular";
	width: 100%;
	height: 42px;
	border: 1px solid #464646;
	background: #f7f7f7;
	border-radius: 10px;
	padding: 0 10px;
	-mox-box-shadow: 0px 3px 8px 1px rgba(36, 36, 36, 0.51);
	-webkit-box-shadow: 0px 3px 8px 1px rgba(36, 36, 36, 0.51);
	-o-box-shadow: 0px 3px 8px 1px rgba(36, 36, 36, 0.51);
	box-shadow: 0px 3px 8px 1px rgba(36, 36, 36, 0.51);
}

.w_input label {
	font: 16px/normal "MyriadPro-BoldCond";
	color: #212121;
	margin-bottom: 6px;
	text-transform: uppercase;
}

.marg_form {
	margin-top: 34px;
}

.w_button {
	width: 30%;
	float: left;
	padding: 0 5px;
}

.marg_form .w_button .form_button {
	margin: 24px 0 0;
	border: 1px solid #464646;
	-mox-box-shadow: 0px 3px 8px 1px rgba(36, 36, 36, 0.51);
	-webkit-box-shadow: 0px 3px 8px 1px rgba(36, 36, 36, 0.51);
	-o-box-shadow: 0px 3px 8px 1px rgba(36, 36, 36, 0.51);
	box-shadow: 0px 3px 8px 1px rgba(36, 36, 36, 0.51);
}

.cont_icn {
	float: left;
}

.dop_icon {
	width: 110px;
	text-align: center;
	display: inline-block;
	padding-right: 30px;
}

.cont-cheked li {
	list-style: none;
	position: relative;
}

.cont-cheked li:nth-child(odd) {
	background: rgba(194, 207, 47, 0.45);
	border-radius: 0 8px 8px 0;
}

.cont-cheked li:nth-child(even) {
	padding: 13px 0 13px;
}

.cont-cheked li input {
	position: absolute;
	right: 0;
	z-index: 10;
	cursor: pointer;
}

.cont-cheked li span {
	font: 20px/normal "MyriadPro-Regular";
	font-weight: bold;
	color: #505050;
	vertical-align: middle;
	height: 55px;
	display: table-cell;
}

.cont-cheked li input[type="checkbox"] {
	display:none;
}

.chekd {
	cursor: pointer;
}

.cont-cheked li input[type="checkbox"] + label .chekd {
	height: 45px !important;
	width: 42px;
	background-image: url(../img/checked.png);
	background-position: 0 bottom;
	position: absolute;
	right: -50px;
	top: 7px;
}

.cont-cheked li input[type="checkbox"]:checked + label .chekd {
	background-position: 0 top;
	height: 50px !important;
	width: 62px;
	right: -70px;
	top: 1px;
}

.bg-pad {
	max-width: 975px;
	width: 100%;
	height: 695px;
	background-image: url(../img/ipad.png);
	background-repeat: no-repeat;
	background-position: center 0;
	margin: 0 auto;
	padding: 44px 105px 44px 100px;
}

.cont-cheked {
	max-width: 530px;
	margin: 45px auto 0;
	background: rgba(255, 255, 255, 0.43);
	padding: 12px 27px 12px 0;
	border-radius: 2px;
	position: relative;
	-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.cont-cheked:before {
	content: "";
	width: 552px;
	height: 319px;
	background-image: url(../img/pancel.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	bottom: -165px;
	right: -310px;
}

.cont-cheked li:nth-child(even) input[type="checkbox"] + label .chekd {
	top: 22px;
}

.cont-cheked li:nth-child(even) input[type="checkbox"]:checked + label .chekd {
	top: 16px;
}

.wrapp-form {
	margin: 73px auto 44px;
}

.zayavka_form label {
	font: 16px/normal "MyriadPro-Regular";
	color: #fff;
	margin-bottom: 8px;
	display: inline-block;
	text-transform: uppercase;
}

.zayavka_form input {
	font: 16px/37px "MyriadPro-Regular";
	max-width: 390px;
	width: 100%;
	border-radius: 10px;
	border: 0;
	padding: 0 10px;
	margin-bottom: 14px;
}

/* MAIN STYLE =====================
==============================================*/


/* FOTTER ===================
======================================*/

footer {
	background: #313232;
	background-position: 0 top;
	background-repeat: repeat-x;
	color: #fff;
	padding-top: 45px;
}

footer a {
	color: #fff;
	text-decoration: none;
	line-height: 25px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

footer li {
	list-style: none;
}

footer li:hover a,
footer li.active a {
	color: #aaa4a4;
}

footer li a i {
	margin-right: 10px;
}

footer p {
	font: 13px/25px "MyriadPro-Regular";
}

footer ul {
	padding-left: 28px;
}

h3.name_siti {
	font: 30px/24px "MyriadPro-BoldCond";
	color: #dae42b;
	margin-bottom: 24px;
}

.foot_contact {
	margin-top: 22px;
}

.foot_contact p.phon {
	font: 18px/normal "MyriadPro-Regular";
	text-transform: uppercase;
}

.foot_contact p.phon span {
	font: 20px/normal "MyriadPro-BoldCond";
	font-style: italic;
}

.foot_contact p {
	font: 14px/normal "MyriadPro-Regular";
	text-transform: uppercase;
}

.foot_contact p span {
	font: 20px/normal "MyriadPro-BoldCond";
	font-style: italic;
	text-transform: initial;
}

footer h4 {
	font: 20px/normal "MyriadPro-BoldCond";
	text-transform: uppercase;
	margin-bottom: 25px;
}

footer a.vk {
	position: absolute;
	right: 70px;
	top: 0;
}

.map h3 {
	font: 22px/24px "MyriadPro-BoldCond";
}

.footer_bottom {
	background: #2c2d2d;
	font-size: 12px;
	padding: 13px 0;
}

form input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
form input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
form input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
form input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
form input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.popup_window {
	max-width: 890px;
	width: 100%;
	margin: 0 auto;
	background: #d1dade;
	position: relative;
	padding: 32px 55px 46px 30px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.52);
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.52);
}

.popup_window_logo h3 {
	font: 24px/normal "MyriadPro-BoldCond";
	color: #404040;
	text-align: center;
}

.popup_window_logo,
.popup_window_contant {
	float: left;
}

.popup_window_logo {
	text-align: center;
	max-width: 225px;
	width: 100%;
	padding-right: 26px;
}

.popup_window_contant {
	max-width: 580px;
	width: 100%;
	padding: 16px 10px 17px 25px;
}

.popup_window_contant {
	background: #fff;
	border-radius: 10px;
}

.popup_window_contant p {
	font: 16px/21px "MyriadPro-Regular";
	color: #292929;
	text-indent: 35px;
	margin-bottom: 4px;
}

.mfp-close-btn-in .mfp-close {
	color: #2c9150 !important;
	font-size: 29px;
	font-weight: bold;
	background: #fff;
	border-radius: 50%;
	width: 32px !important;
	height: 32px !important;
	line-height: 27px !important;
	border: 3px solid #2c9150;
	opacity: 1;
	box-shadow: 0 0 0 5px #fff;
	top: -8px;
	right: -8px;
}

.mfp-close:active {
	top: -8px !important;
}

.mfp-bg {
	opacity: 0 !important;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	padding-right: 4px !important;
}

.mfp-gallery {
	background: rgba(0, 0, 0, 0.6);
}

.mfp-gallery .mfp-close {
	top: 40px !important;
	right: -50px !important;
}

.tooltip:before,
.tooltip:after {
	display: block;
	position: absolute;
	visibility: hidden;
	opacity: 0; 
	margin-bottom: 15px;
	transition: opacity .7s, margin-bottom .7s;
	left: 50%;
}

.tooltip {
	cursor: pointer;
}

.tooltip:before {
	bottom: 75px;
	left: 50%;
	padding: 10px;
	width: 300px;
	margin-left: -150px;
	color: white;
	background-color: rgba(0,0,0,.85);
	content: attr(data-title);
	border-radius: 5px;
	box-sizing: border-box;
	text-align: center;
}

.tooltip:after {
	content: "";
	border-top: 10px solid rgba(0,0,0,.85);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: 65px;
	margin-left: -10px;
}

.tooltip:hover:before,
.tooltip:hover:after {
	opacity: 1;
	margin-bottom: 0;
	visibility: visible;
}

/* TARIFY ==================
=====================================*/

.tarify {
	background: #f3f3f3;
	padding: 50px 0;
}

.tarify li {
	list-style: none;
	position: relative;
}

ul.prices li img {
	max-width: 100%;
}

ul.prices .description {
	position: absolute;
	right: 4%;
	width: 45%;
	font-size: 19px;
	top: 6%;
}

.contacts .gray-box {
	padding: 35px 25px;
	background-color: #ececec;
}

.bold {
	font-weight: 700;
}

.contacts {
	font-size: 18px;
}

.contacts p {
	margin: 0 0 10px;
}

.aboutbox {
	background-color: #ececec;
	overflow: hidden;
	padding: 30px 20px;
	font-size: 14px;
}

.aboutbox p,
.vistavki p {
	margin: 0 0 10px;
	font-size: 18px;
}

.aboutbox h1,
.vistavki h1 {
	font: 30px/normal "MyriadPro-BoldCond";
	text-transform: uppercase;
	margin-bottom: 10px;
}

.aboutbox ul {
	padding-left: 40px;
	margin-bottom: 10px;
}

.aboutbox li {
	font-size: 16px;
	list-style: initial;
	position: relative;
}

.tachka {
	position: relative;
}

.tachka .btar {
	font-size: 20px !important;
}

.tachka .btar p {
	font-size: 20px;
}

.cons_container {
	max-width: 1030px;
	margin: 0 auto;
}

@media (min-width: 1024px){
	.btar {
		position: absolute;
		top: 200px;
	}
}

.consalting {
	padding: 75px 0 85px;
	background: #f3f3f3 url(../img/line_consalting.png);
	background-repeat: repeat-x;
	background-position: 0 bottom;
}

.consalting_what {
	background: 
	url(../img/bg_consalt1.jpg) left top no-repeat, 
	url(../img/bg_consalt2.jpg) right 535px no-repeat;
	margin: 20px 0 0;
	padding: 44px 0 0;
}

.consalting_top_txt {
	background-image: url(../img/consalting_img1.png);
	background-repeat: no-repeat;
	background-position: right 20px;
	padding: 78px 0 72px;
}

.consalting_top_txt p {
	font: 20px/24px "MyriadPro-Regular";
	color: #383838;
	text-indent: 35px;
	margin-bottom: 24px;
}

.consalting_top_txt p span {
	font-family: "ElektraLightPro-Bold";
	font-weight: bold;
}

.consalting_what_txt:before {
	content: "";
	background-image: url(../img/arrow_foot.png);
	background-repeat: no-repeat;
	width: 58px;
	height: 67px;
	position: absolute;
	left: 50%;
	margin-left: -29px;
	bottom: -20px;
	bottom: -100px;
}

.consalting_what_txt {
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-bottom: 130px;
}

.consalting_what_txt:last-child {
	margin-bottom: 0;
}

.consalting_what_txt:last-child:before {
	display: none;
}

.consalting_what_txt p {
	font-size: 24px;
	padding: 16px 0 18px;
}

.w895 {
	max-width: 895px;
	margin: 0 auto;
}

.text_center {
	text-align: center;
}

.consalting_form {
	background-image: url(../img/bg_cons.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 4px 0 85px;
}

.cons_form form {
	margin: 44px 0 0;
}

.cons_form button {
	margin-top: 44px;
}

.cons_form {
	max-width: 580px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	-webkit-box-shadow: 0 0 3px 1px rgba(218,228,43,0.5);
	box-shadow: 0 0 3px 1px rgba(218,228,43,0.5);
	padding: 21px 0 22px;
}

.cons_form input {
	max-width: 390px;
	width: 100%;
	margin: 0 auto 19px;
	display: block;
	font-size: 18px;
	font-family: "MyriadPro-Regular";
	font-weight: bold;
	color: #464646;
	text-transform: uppercase;
	padding: 8px 10px 6px;
	border: 1px solid #383838;
}

.prices .form_button {
	margin: 0 auto 35px;
}

div#go_popup {
	max-width: 400px;
	position: relative;
	background: #fff;
	margin: 0 auto;
	border-radius: 10px;
	padding: 25px 0;
	text-align: center;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}
.one_go_popup h4 {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.one_go_popup span {
	font-size: 18px;
}

.tarif_window {
	max-width: 400px;
	padding: 32px 30px 46px 30px;
}